---
import Base from '../layouts/Base.astro';
---
<Base title="About — DSA log">
  <h1>About</h1>
  <p>
    hey, I'm Shagun, currently working on practicing DSA problems regularly, while simultaneously learning to develop backend systems.
    You're currently reading a simple blog where I aim to post about the interesting problems I come across and solve.
  </p>
  <p>
    As for this website itself, it uses the Astro framework, which makes it convenient to render my daily markdown file on a particular problem whenever I commit to the GitHub Repository, check it out <a href="https://github.com/Shagun-Singh7567/dsa-blog">here</a>
  </p>
  <p style="margin-top:3rem;">
    <a href="/">← all problems</a>
  </p>
  <p style="margin-top:3rem;">
    Contact:
  </p>
  <p style="margin-top:0.5rem;">
    <a href="https://github.com/Shagun-Singh7567">GitHub</a>
  </p>
  <p style="margin-top:0.5rem;">
    <a href="https://www.linkedin.com/in/shagunsingh-dev/">LinkedIn</a>
  </p>
</Base>
